@import '../../styles/index';

.root {
	@include flex(column);
	gap: 0.5rem;
	.bar {
		position: relative;
		border-radius: 0.5rem;
		width: 100%;
		// height: 10rem;
		background: $soft-red;
		cursor: pointer;

		&.active {
			background: $cyan;
		}

		&:hover {
			background: rgba($soft-red, 0.75);
			&.active {
				background: rgba($cyan, 0.75);
			}
			.tooltip {
				visibility: visible;
			}
		}

		.tooltip {
			@include flex;
			font-size: 1.125rem;
			font-weight: 700;
			visibility: hidden;
			padding: 1.5rem 0.5rem;
			color: $very-pale-orange;
			background: $dark-brown;
            min-width: fit-content;
			width: 100%;
			height: 2rem;
			position: absolute;
			top: -3.5rem;
			left: 50%;
            transform: translateX(-50%);
			border-radius: 0.5rem;
			z-index: 10;
		}
	}

	.label {
		color: $medium-brown;
		text-align: center;
	}
	flex: 1;
}
