@import '../../styles/index';

.root {
	width: 100%;
	padding: 1.75rem;
	background-color: $very-pale-orange;
	border-radius: 1.5rem;
    color: $dark-brown;

	.heading {
		font-size: 2rem;
		font-weight: 700;
	}

	.caption {
		color: $medium-brown;
	}

	.footer {
		@include flex(row, space-between, flex-end);
		padding: 2rem 0px 1rem 0px;
		border-top: 1px solid rgba($medium-brown, 0.5);
		width: 100%;
		.left {
			@include flex(column, flex-end, flex-start);
			.total {
				font-size: 3rem;
				font-weight: 700;
			}
		}

		.right {
			@include flex(column, flex-end, flex-end);
            .change {
                font-weight: 700;
            }
		}
	}
}
