@import '../../styles/index';

.root {
	@include flex(row, space-between);
	width: 100%;
	background-color: $soft-red;
	padding: 1.75rem;
	border-radius: 1.5rem;
	color: $very-pale-orange;

	.left {
		@include flex(column, flex-start, flex-start);
		gap: 0.5rem;

		.balance {
			font-size: 1.8rem;
			font-weight: 700;
		}
	}

	.right {
		@include flex;

		.circle {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 99999px;
            position: relative;

			&:nth-child(1) {
				border: 2px solid $very-pale-orange;
                z-index: 2;
			}

			&:nth-child(2) {
				background-color: $dark-brown;
				border: 2px solid $dark-brown;
                z-index: 1;
                left: -25%;
			}
		}
	}
}
